<!doctype html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Templates" />
    <title>Templates</title>
  </head>
  <body class="bg-canvas">
    <p-display tag="h1">Templates</p-display>
    <p-heading tag="h2">Landing Page</p-heading>
    <p-text-list>
      <p-text-list-item>
        <p-link-pure href="landing-page/1/">Landing Page</p-link-pure>
      </p-text-list-item>
    </p-text-list>
    <p-heading tag="h2">Admin Panel</p-heading>
    <p-text-list>
      <p-text-list-item>
        <p-link-pure href="admin-panel/1/">Admin Panel</p-link-pure>
      </p-text-list-item>
    </p-text-list>
    <script type="module" src="main.js"></script>
  </body>
</html>
